<section id="service" class="services-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title pb-10">
                    <h4 class="title">MSL</h4>
                    <p class="text">MSL es una organización que proporciona soluciones de software y servicios asociados
                        en seguridad, gestion de servicio, gestion de proyectos y portafolio, y áreas de monitoreo. </p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="services-content mt-40 d-sm-flex">
                            <div class="services-icon">
                                <i class="lni-crown"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">NUESTRAS BASES</h4>
                                <li class="text">Recurso humano calificado.</li>
                                <li class="text">Relación mutuamente beneficiosa con clientes y socios de negocio.</li>
                                <li class="text">Conocimiento de las necesidades actuales y futuras de nuestros
                                    clientes.</li>

                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="col-md-8">
                        <div class="services-content mt-40 d-sm-flex">
                            <div class="services-icon">
                                <i class="lni-bar-chart"></i>
                            </div>
                            <div class="services-content media-body">
                                <h4 class="services-title">NUESTROS RECURSOS HUMANOS:</h4>
                                <li class="text">​67 Empleados​.</li>
                                <li class="text">​9 Ventas.</li>
                                <li class="text">​5 Apoyo.</li>
                                <li class="text">3 Preventas.</li>
                                <li class="text">3 QA.</li>
                                <li class="text">2 Marketing.</li>
                                <li class="text">4 Staf.</li>
                                <li class="text">41 Consultores:</li>
                                <li class="text">12 de Gestión De Servicios </li>
                                <li class="text">10 de Monitoreo de aplicaciones e infraestructura</li>
                                <li class="text">8 Gestion de Proyectos y Portafolios</li>
                                <li class="text">11 de seguridad</li>
                            </div>
                        </div> <!-- services content -->
                    </div>
                    <div class="services-image d-lg-flex align-items-center">
                        <div class="image">
                            <img src="../assets/images/empleados.png" alt="Services">
                        </div>
                    </div> <!-- services image -->
                </div> <!-- row -->
            </div> <!-- row -->
        </div> <!-- row -->
    </div> <!-- conteiner -->

</section>

<!--====== SERVICES PART ENDS ======-->