<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="Logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOne"
        aria-controls="navbarOne" aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
        <span class="toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse sub-menu-bar" id="navbarOne">
        <ul class="navbar-nav m-auto">
            <li class="nav-item " >
                <a routerLink="" [routerLinkActive]="['active']" >HOME</a>
            </li>
            <li class="nav-item">
                <a routerLink="sobre-nosotros" [routerLinkActive]="['active']" >SOBRE NOSOTROS</a>
            </li>
            <li class="nav-item">
                <a routerLink="servicios" [routerLinkActive]="['active']" >SERVICIOS</a>
            </li>
            <li class="nav-item">
                <a routerLink="casos-de-interes" [routerLinkActive]="['active']" >CASOS DE CLIENTES</a>
            </li>
            <li class="nav-item">
                <a routerLink="contacto" routerLinkActive="active">CONTACTO</a>
            </li>
        </ul>
    </div>

    <div class="navbar-social d-none d-sm-flex align-items-center col-lg-2  col-md-6 col-sm-7">
        <div class="footer-newsletter m-0 mb-4">
            <div class="newsletter">
                <form action="#">
                    <input type="text" placeholder="Buscar...">
                    <button type="submit"><i class="lni-angle-double-right"></i></button>
                </form>
            </div>
        </div> 
    </div>
</nav> <!-- navbar -->