<div id="home" class="header-hero bg_cover" style="background-image: url(assets/images/header-bg.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="header-content text-center">
                    <h3 class="header-title">Bienvenido a MSL</h3>
                    <p class="text">MSL es una organización que proporciona soluciones de software  y servicios asociados en seguridad, gestion de servicio, gestion de proyectos y portafolio, y áreas de monitoreo. </p>
                    <ul class="header-btn">
                        <li><a class="main-btn btn-one" href="#">CONTACTENOS</a></li>
                        <li><a class="main-btn btn-two video-popup" href="https://www.youtube.com/watch?v=W42nFWX5DY0">MIRA EL VIDEO <i class="lni-play"></i></a></li>
                    </ul>
                </div> <!-- header content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="header-shape">
        <img src="assets/images/header-shape.svg" alt="shape">
    </div>

    <!--====== BACK TO TOP PART START ======-->

    <!-- <a class="back-to-top" href="/home"><i class="lni-chevron-up"></i></a> -->

    <!--====== BACK TO TOP PART ENDS ======-->


</div> <!-- header content -->
<!-- <app-footer></app-footer> -->