<!--====== FOOTER PART START ======-->

<footer id="footer" class="footer-area">
    <div class="footer-widget ">
        <div class="container">
           
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 align-items-center d-flex">
                    <div class="footer-logo-support d-md-flex align-items-end justify-content-between">
                        <div class="footer-logo d-flex align-items-end">
                            <a class="mt-30" href="index.html"><img src="assets/images/logo.png" alt="Logo"></a>

                            <ul class="social mt-30">
                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/msl-distribuciones/?originalSubdomain=co"><i class="lni-linkedin-original"></i></a></li>
                            </ul>
                        </div> <!-- footer logo -->

                    </div> <!-- footer logo support -->
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer-link">
                        <h6 class="footer-title">Contactenos</h6>
                        <ul>
                            <li><a>TEL: (571) 7429730 </a> </li>
                            <li><a>CEL: (57) 3102469090</a> </li>
                            <li><a>Email: msl@msl.com.co</a></li>
                            <li><a h>Cra. 7D N° 108 A – 59</a> </li>
                            <li><a>Bogotá-Colombia</a> </li>
                        </ul>
                    </div> <!-- footer newsletter -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer widget -->

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright text-center">
                        <p class="text">Creado por <a rel="nofollow" href="http://www.mtagenciadigital.com/m">MT
                                Agencia</a> 2019 </p>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer copyright -->
</footer>

<!--====== FOOTER PART ENDS ======-->